.page {
	background-image: url("/Users/jaineilmandavia/my-edu/grad-school/sjsu/fall21/CMPE273/github/cmpe-273-lab-ubereats/lab-1/client/src/images/registration.bg.webp");
	background-size: cover;
	position: relative;
}
