/* html {
	background-image: url("/Users/jaineilmandavia/my-edu/grad-school/sjsu/fall21/CMPE273/github/cmpe-273-lab-ubereats/lab-1/client/src/images/registration.bg.webp");
	background-size: cover;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin-left: 100px;
	margin-right: 100px;
} */

.login-page {
	background-color: rgb(244, 244, 244);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.form-box {
	/* height: 650px; */
	background-color: whitesmoke;
	box-shadow: 0px 0px 30px -5px black;
	width: fit-content;
	height: fit-content;
}
